/* TODO find use for the loader */
/* TODO target image full screen */
/* TODO add random bg? */
/* TODO add AMP styling */
/* TODO add chat component */

a,
ul,
li,
ol,
p,
h1,
h2,
label,
legend {
	color: #333333;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

body,
nav {
	margin: 0;
	padding: 0;
}

a {
	color: #2ecc71;
}

a:focus {
	outline-color: #2ecc71;
}

main {
	display: flex;
	flex-wrap: wrap;
}

body > h1 {
	width: 100%;
	margin-top: 2em;
	display: flex;
	justify-content: center;
}

/* nav */

.menu {
	margin-top: 2em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #333333;
	padding: 1em 0 1em 0;
	width: 100vw;
	margin-bottom: 4em;
	font-weight: 100;
}

.menu h1 {
	flex: 1;
	margin-left: 2em;
	color: white;
	cursor: pointer;
}

.menu ul {
	display: flex;
}

.menu li {
	padding: .8em;
	list-style: none;
}

.menu a {
	padding: 1em .5em 1em .5em;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.menu a:hover {
	text-decoration: underline;
}

.menu li ul {
	flex-direction: row;
	display: none;
	font-weight: 100;
	background: #333333;
	font-size: .9em;
}

.menu li:hover ul {
	display: block;
	padding: 2em 1em 1em 0;
	position: absolute;
}

@media (max-width: 45em) {
  	.menu {
  		flex-direction: column;
  	}

  	.menu h1 {
  		margin-left: 0;
  	}

  	.menu li {
		margin-top: .5em;
  	}

  	.menu a {
  		font-size: 1em;
  	}
}

@media (max-width: 25em) {
  	.menu li {
		margin-top: .5em;
		padding: .1em;
		font-size: .9em;
  	}
}

/* rating */

.rating {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 40em;
	margin: 2em .5em 10em .5em;
}

.rating h1 {
	margin-bottom: 1em;
}

.rating ol {
	display: flex;
	justify-content: space-around;
}

.rating ol li {
	font-size: .9em;
	margin-top: 1em;
	color: grey;
	font-weight: 100;
	list-style: none;
}

.rating ol li a {
	color: grey;
}

.rating ol [checked] {
	text-decoration: none;
	color: #2ecc71;
}

.rating ol span {
	display: none;
}

.rating ol [checked] span {
	display: inline-block;
}

.rating ol [active] {
	color: #2ecc71;
}

.rating ol [step] {
	opacity: .3;
}

progress[value] {
	width: 100%;
	height: 1em;
	border: none;
	background: #2ecc71;
}

progress::-webkit-progress-bar {
	background: #efefef;
}
progress::-webkit-progress-value {
	background: #2ecc71;
}

/* login */

form {
	background: #D3F5D3;
	padding: 2em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 20em;
	height: 18em;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2em;
	transition: border 1s ease-;
}

form:invalid {
	background: #efefef;
}

form input {
	font-size: 1em;
	padding: .8em;
	border: none;
	margin: .3em 0 1em;
}

form input[type="checkbox"] {
	padding: 2em;
}

form div label,
form a {
	font-size: .8em;
}

form a {
	float: right;
	background-clip: padding-box;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 15px solid transparent;
	box-shadow: 0 0 0 0px rgba(0, 0, 0, .3)inset;
}

button {
	align-self: center;
	transition: all .2s;
	margin-top: 1em;
	border: 2px solid currentColor;
	background: 0;
	padding: .8em;
	font-size: 1em;
	font-weight: 100;
	width: 7em;
	color: #333333;
	border-radius: .3em;
	cursor: pointer;
}

:disabled, [disabled], [aria-disabled="true"] {
	cursor: not-allowed;
}

button[disabled]:hover {
	background: none;
	color: #333333;
}

button:hover {
	background: #333333;
	color: white;
	border-color: #333333;
}

/* checkbox idea taken from http://dabblet.com/gist/e269f10328615254e29e */

input[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
	cursor: pointer;
	content: '';
	font-size: 2em;
	display: inline-block;
	vertical-align: -.35em;
	width: 1em;
	height: 1em;
	margin-right: .4em;
	border-radius: .2em;
	background: grey;
	text-indent: .25em;
	line-height: .85em;
	transition: background .5s;
}

input[type="checkbox"]:checked + label::before {
	content: '\2713';
	font-size: 2em;
	vertical-align: -.1em;
	text-indent: .12em;
	background: #2ecc71;
}

input:focus {
	outline-color: #2ecc71
}

/* dialog styles taken from http://dabblet.com/gist/1326eb460b0dff91d638 */

main.de-emphasized {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.popup {
	cursor: pointer;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 1;
	width: 10em;
	padding: 2em;
	margin: -5em;
	border: 1px solid silver;
	border-radius: .5em;
	display: none;
	box-shadow: 0 .2em .5em rgba(0,0,0,.5),
	            0 0 0 100vmax rgba(0,0,0,.2);
}

.popup p {
	line-height: 1.4em;
	font-size: .9em;
	margin-bottom: 1em;
}

/* picture */

.picture,
figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.picture {
	margin-left: 4%;
	margin-right: 4%;
	background: #efefef;
	padding: 2em;
	width: 20em;
}

.picture h1:first-of-type {
	align-self: flex-start;
}

figure {
	flex-wrap: wrap;
	font-size: .8em;
}

figure p,
figure footer {
	line-height: 1.4em;
}

figure footer {
	margin-top: 1em;
	font-style: italic;
}

figure img {
	margin: 1em 0 1em;
	max-width: max-content;
	width: 25em;
	transition: all ease-out .6s;
}

 /*TODO I'll find a way to get out of the target state in the weekend */
figure img:target {
	position: fixed;
	top: 50%;
	left: calc(50% + 5%);
	margin: -20%;
	max-width: 30%;
	box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .8);
	z-index: 200;
}

/* media item */

.mediaitem {
	margin-top: 1em;
}

.mediaitem article {
	margin: 0em 1em .4em 1em;
	height: min-content;
	padding: 2em;
	background: #efefef;
	position: relative;
	transition: opacity 1s;
	border-bottom: 8px solid #efefef;
}

.mediaitem article a:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
}

.mediaitem article a:hover {
	color: #333333;
}

.mediaitem article:hover {
	border-bottom: 8px solid #333333;
}

.mediaitem article div {
	margin-top: 1em;
	display: flex;
}

.mediaitem article p {
	margin-left: 1em;
	font-size: .9em;
	line-height: 1.4em
}


.mediaitem article img {
	height: 4em;
}

@media (max-width: 25em) {
  	.mediaitem article div {
		margin-top: 1em;
		display: block;
	}
}

@media (min-width: 35em) {
  	.mediaitem article div {
		width: 35em;
	}
}

/* rating emojis */

.emoji {
	margin: 2em;
	display: flex;
}

fieldset input {
	display: none;
}

fieldset {
	border: 0;
	height: 10em;
}

fieldset legend {
	font-size: 1.4em;
	font-weight: 800;
	margin-bottom: .4em;
}

fieldset label {
	transition: font-size .1s ease-in;
	display: block;
	float: left;
	width: 3.9em;
	margin-top: 1em;
	margin-right: 2em;
	text-align: center;
	font-size: .9em;
	font-weight: 800;
}

fieldset label:hover {
	color: #2ecc71;
}

input[type="radio"]:checked+label{
	color: #2ecc71;
	font-size: 1.2em;
} 

svg {
	margin-top: 1em;
	cursor: pointer;
	width: 4em;
}

@media (max-width: 30em) {
  	fieldset label {
  		margin-right: 1em;
  	}

  	input[type="radio"]:checked+label{
		color: #2ecc71;
		font-size: 1.1em;
	} 
}

/* loading screen */

#loaderbox {
	transition: opacity .8s;
	position: fixed;
	top: 0;
	background: black;
	width: 100vw;
	height: 100vh;
	padding: 1em;
}

@keyframes loader {
	to { 
		background-position: -800px 0; 
	}
}

.loader {
	width: 100px; 
	height: 100px;
	background: url(http://dabblet.com/img/loader.png) 0 0;
	animation: loader 1s infinite steps(8);
	position: fixed;
	top: 40%;
	left: 45%;
	right: 45%;
}

@media (max-width: 40em) {
  	.loader {
		left: 40%;
	}
}